@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6%;
}

.contenedor__logo{
    display: flex;
    background-color: #3D3D3D;
    border-radius: 0.875rem;
    width: 55.25rem;
    height: 59.875rem;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    width: 27.625rem;
    height: 35.063rem;
    background-color: #3D3D3D;
}

.contenedor__formulario{
    display: flex;
    flex-direction: column;
    width: 55.25rem;
    height: 59.875rem;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    font-family: Figtree;
}


.contenedor__formulario__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}
h1{
    color: #535353;
    font-size: 2.5rem;
}
p{
    color: #7F7F7F;
    font-size: 0.875rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #888888;
}

.input{
    width: 21.438rem;
    height: 2.375rem;
    border-radius: 0.5rem;
    background-color: #F9F9F9;
    border: 1px solid  #B2B2B2;
}

button{
    background-color: #8051AA;
    color: #FFFFFF;
    border-radius: 1.25rem;
    width: 21.438rem;
    height: 2.375rem;
    font-size: 0.875rem;
    border: none;
}
a{
    color: #A7A7A7;
}